.scroll-to-top {
	position: fixed;
	bottom: 2rem;
	right: 4rem;
	opacity: 0;
	z-index: 100000;
	transition: all .25s;
 }
 .show-scrollTop {
	opacity: 1;
	transition: all .2s ease-in-out;
 }

 .btn-icon{
	font-size: 1.5rem;
	background-color: #898d72;
	&:hover{
		background-color: #e1d6bd;
	}
 }
