<section class="Banner container">
	<div class="Banner-img-back-css">
		<div class="Box-banner-content">
			<button class="btn-pages"
							routerLink="maestros">
				Buscar Maestros
			</button>
			<h1 class="Titulo">Nosotros</h1>
			<div class="img">
				<img src="/assets/img/territorial-footer.png" alt="Logo Territorial">
			</div>
		</div>
	</div>
</section>
<section class="Historia container">
	<div class="Articulo">
		<strong class="Parrafo-bold">
			Creemos en el valor del aprender haciendo, la historia que cultiva el saber de las manos, y la magia creadora del diseño de autor.
		</strong>
		<strong class="Parrafo-bold">
			Buscamos rescatar, innovar y promover los tesoros del oficio en la era digital, difundir a sus protagonistas y revalorizar el encanto del saber cultural y la reinvención creativa.
		</strong>
	</div>
	<div class="img-100">
		<img src="/assets/img/equipo.jpg" alt="Equipo">
	</div>
	<div class="Articulo">
		<h4 class="Subtitulo">
			Nuestra Historia
		</h4>
		<strong class="Parrafo-bold">
			El inicio de nuestro universo
		</strong>
		<p class="Parrafo">
			Plataforma de Oficios nace como la reinvención de Escuela Taller Antofagasta, un proyecto que desde el 2015 buscó rescatar, promover y valorizar los oficios culturales y patrimoniales mediante una formación activa y lúdica. Bajo la metodología de aprender haciendo se recuperaron inmuebles icónicos, crearon intervenciones culturales y se piloteó un hito de ruta patrimonial, propiciando el desarrollo experimental y comunitario.
		</p>
		<p class="Parrafo">
			Comprendiendo el saber activo como un proceso colectivo y recíproco en el cual todos somos maestros y aprendices, el proyecto fue concebido como un espacio de colaboración e intercambio con redes nacionales e internacionales, impactando en la creación de nuevas Escuelas Taller y proyectos de vinculación, divulgación y activación de los oficios en el territorio.
		</p>
	</div>
</section>
<section class="Banner-text">
	<strong class="Parrafo-bold">
		Entendemos el valor de los oficios tradicionales y creativos como motor para la economía creativa, el fomento cultural y desarrollo local, resultado de la expresión humana de saberes que relevan identidad, evocan la memoria y conectan a las personas desde su sentir emocional.
	</strong>
</section>
<section class="Reinvencion container">
	<div class="img-100">
		<img src="/assets/img/pintura.jpg" alt="Pintura">
	</div>
	<div class="Articulo">
		<h4 class="Subtitulo">La reinvención</h4>
		<strong class="Parrafo-bold">
			Lo que nos inspira
		</strong>
		<p class="Parrafo">
			Tras años de la primera versión de La Escuela, la propuesta busca evolucionar y transformar el proceso de aprendizaje fortaleciendo el sentido de identidad, el saber local y la puesta en valor de creadores de oficios manuales. Se reconoce la necesidad de articular, formar y visibilizar los oficios tradicionales y creativos  con un enfoque digital, promoviendo el saber ancestral y contemporáneo, y red de creadore/as, cultore/as, diseñadore/as, maestro/as y artesano/as.
		</p>
		<strong class="Parrafo-bold">
			Así nace Plataforma Oficios; un espacio de innovación para el oficio y el diseño de autor que busca compartir, enseñar y difundir los oficios que nos emocionan; con cariño local, y alcance global.
		</strong>
	</div>
</section>
<section class="Escuela container">
	<div class="Articulo">
		<h4 class="Subtitulo">
			MIRA LO QUE HICIMOS EN TODOS ESOS AÑOS !
		</h4>
		<strong class="Parrafo-bold">
			Descubre lo que fue Escuela Taller Antofagasta
		</strong>
	</div>
	<div class="Galeria">
		<div class="Box-grid grid-2">
			<div class="img-100">
				<img src="/assets/img/bio.jpg" alt="Revoque Barro">
			</div>
			<div class="img-100">
				<img src="/assets/img/manos.jpg" alt="Adobe molde">
			</div>
			<div class="img-100">
				<img src="/assets/img/barro.jpg" alt="Adobe">
			</div>
			<div class="img-100">
				<img src="/assets/img/carpintero-2.jpg" alt="Carpintero">
			</div>
		</div>
	</div>
</section>
<section class="Impacto container">
	<div class="Articulo">
		<h4 class="Subtitulo">impacto proyecto</h4>
	</div>
	<div class="Box-grid grid-center">
		<div *ngFor="let impacto of impactos"
				 class="card-impacto">
			<div class="card-impacto-img">
				<img src="{{impacto.img}}">
			</div>
			<strong class="card-impacto-numero">{{impacto.num}}</strong>
			<h5 class="card-impacto-titulo">{{impacto.titulo}}</h5>
			<p class="card-impacto-descripcion">
				{{impacto.descripcion}}
			</p>
		</div>
	</div>
</section>
<section class="Motivacion">
	<div class="Articulo">
		<h4 class="Subtitulo">Lo que nos motiva</h4>
	</div>
	<div *ngFor="let motivacion of motivaciones"
				class="Box-grid grid-center">
		<div class="img">
			<img src="{{motivacion.img}}">
		</div>
	</div>
</section>
<section class="Equipo"></section>
<section class="Conoce"></section>
