@import "../../../scss/config/styles-root";

.Banner{
	position: relative;
	& .Banner-img-back-css{
		position: relative;
		background-image: img('nosotros.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		max-width: $ancho-total;
		height: 100vh;
		&::before{
			@include transparencia(color(negro), .3);
		}
		& .Box-banner-content{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 90%;
			max-width: $ancho-maximo;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: var(--padding-banner-inicio);
			& .Titulo-banner{
				text-transform: uppercase;
				font-weight: 400;
				color: color(blanco);
				font-size: var(--size-titulo-banner);
				width: max-content;
				padding: var(--padding-titulo-banner);
			}
			& hr{
				height: 2px;
				width: 100%;
				max-width: 600px;
				margin-left: 0;
				border: none;
				background-color: color(blanco);
			}
			& > .img{
				// border: 2px solid blue;
				width: 90%;
				max-width: 350px;
			}
		}
	}
}

.Historia{
	padding: var(--padding-sections);
	& .Articulo{
		margin: 1rem auto 2rem;
		@include mq(notebook){
			margin: 2rem auto 3rem;
		}
	}
}

.Articulo{
	margin: 1rem auto;
}

.Section-text{
	background-color: color(hover);
	padding: 3rem;
	@include mq(tablet){
		padding: 5rem;
	}
}

.Reinvencion{
	padding: var(--padding-sections);
}

.Escuela{
	padding: var(--padding-sections);
	@include mq(tablet){
		margin-bottom: 2rem;
	}
	& .Galeria{
		& .Box-grid{
			gap: 1rem;
			@include mq(tablet){
				gap: 1.5rem;
			}
		}
	}
}

.Impacto{
	padding: var(--padding-sections);
	background-color: color(hover);
	color: color(impacto);
	@include mq(notebook){
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	& .container-max > .Articulo > .Subtitulo{
		color: color(text);
	}
	& .Box-grid{
		// grid-template-columns: repeat(2, 1fr);
		text-align: center;
		gap: 1rem;
		--margenes: 7px auto;
		--size-numero: 2.5rem;
		--size-titulo: 1rem;
		display: block;
		@include mq(movilXL){
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
			margin-top: 2rem;
		}
		@include mq(tablet){
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 1.5rem;
			margin-top: 3rem;
		}
		@include mq(notebook){
			gap: 2rem;
			--size-titulo: 1.2rem;
		}
		@include mq(escritorio){
			gap: 3rem;
			--margenes: 20px auto;
			--size-numero: 3rem;
		}
		& .card{
			align-self: flex-start;
			&-img{
				width: auto;
				height: 80px;
				margin: 0 auto;
				margin-bottom: 1rem;
				& > img{
					height: 100%;
					margin: 0 auto;
				}
			}
			&-numero{
				display: block;
				margin: var(--margenes);
				font-size: var(--size-numero);
			}
			&-titulo{
				text-transform: uppercase;
				font-size: var(--size-titulo);
			}
			&-descripcion{
				margin: 0 auto;
				font-size: calc(var(--size-titulo) - 2px);
				line-height: 1.3rem;
			}
		}
		& .card:nth-of-type(odd){
			@include mq(movilXL){
				grid-column-start: 1;
				grid-column-end: 3;
				// border: 2px solid red;
			}
		}
		& .card:nth-of-type(even){
			@include mq(movilXL){
				grid-column-start: 3;
				grid-column-end: 5;
				// border: 2px solid blue;
			}
		}
		& .card:last-of-type{
			@include mq(movilXL){
				grid-column-start: 2;
				grid-column-end: 4;
			}
		}
		& .card:nth-of-type(1){
			@include mq(tablet){
				grid-column: 1 / 3;
			}
		}
		& .card:nth-of-type(2){
			@include mq(tablet){
				grid-column: 3 / 5;
			}
		}
		& .card:nth-of-type(3){
			@include mq(tablet){
				grid-column: 5 / 7;
			}
		}
		& .card:nth-of-type(4){
			@include mq(tablet){
				grid-column: 7 / 9;
			}
		}
		& .card:nth-of-type(5){
			@include mq(tablet){
				grid-column: 2 / 4;
			}
		}
		& .card:nth-of-type(6){
			@include mq(tablet){
				grid-column: 4 / 6;
			}
		}
		& .card:nth-of-type(7){
			@include mq(tablet){
				grid-column: 6 / 8;
			}
		}
	}
}

.Motivacion{
	background-color: color(blanco);
	& .Box-grid{
		// border: 1px solid red;
		@include mq(escritorio){
			max-width: 80%;
		}
		& .card{
			--size-text-card: 1.2rem;
			--altura-imagen: 100px;
			@include mq(notebook){
				--size-text-card: 1.4rem;
				--altura-imagen: 120px;
			}
			&-img{
				height: var(--altura-imagen);
			}
			&-text{
				font-size: var(--size-text-card);
			}
		}
	}
}

.Equipo{
	padding: var(--padding-sections);
	// border: 2px solid red;
	& .Box-grid{
		// border: 2px solid violet;
		gap: 1rem;
		@include mq(movilXL){
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
			margin-top: 2rem;
		}
		@include mq(tablet){
			grid-template-columns: repeat(3, 1fr);
			margin-top: 3rem;
		}
		@include mq(notebook){
			grid-template-columns: repeat(4, 1fr);
		}
		@include mq(escritorio){
			grid-template-columns: repeat(5, 1fr);
		}
		& .card-equipo{
			// border: 2px solid blue;
			display: block;
			align-self: flex-start;
			&:hover .card-equipo-img-rrss{
				animation: zoomIn .5s forwards;
				@keyframes zoomIn{
					from{
						transform: scale3d(0,0,0);
					}
				}
			}
			&-img{
				position: relative;
				// width: 100%;
				&-rrss{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-color: $fondo-transparente;
					animation: zoomOut .5s forwards;
					@keyframes zoomOut{
						to{
							transform: scale3d(0,0,0);
						}
					}
					& a{
						text-decoration: none;
						display: block;
						cursor: pointer;
						font-size: 2.5rem;
						& i{
							color: color(blanco);
							display: block;
						}
					}
					& a:nth-of-type(1n+2){ // de uno en una a partir del 2
						margin-left: .7rem;
					}
				}
			}
			&-text{
				max-width: fit-content;
				margin: auto;
				& h5{
					text-align: center;
					margin-top: .5rem;
				}
				& p{
					text-align: center;
				}
			}
		}
	}
}

.Conoce{
	background-color: color(hover);
	& > .container-max{
		padding: var(--padding-sections);
		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-top: 1.5rem;
		& .Subtitulo{
			margin-bottom: 1rem;
		}
		& .Box-grid-max-2{
			gap: 1rem;
			& .Box-img-btn{
				& .img-100{
					margin-bottom: 1rem;
					@include mq(tablet){
						width: 90%;
					}
					@include mq(escritorio){
						width: 80%;
					}
				}
			}
		}
	}
	& > .Banner-img-back-css{
		// border: 2px solid red;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		aspect-ratio: 4 / 3;
		position: relative;
		&::before{
			@include transparencia(color(negro), .3);
		}
		& > a{
			text-decoration: none;
			cursor: pointer;
			font-size: 2rem;
			position: relative;
			z-index: 1;
			color: color(blanco);
			transition: .25s color;
			&:hover{
				color: color(hover);
			}
			&:hover .icon-play{
				border: 1px solid color(hover);
			}
			& .icon{
				color: inherit;
				display: grid;
				height: 100%;
				justify-items: center;
				align-items: center;
				&-play{
					transition: .25s border-color;
					border: 1px solid color(blanco);
					padding: .7rem;
					border-radius: 50%;
				}
			}
		}
	}
}
