<section class="container">
  <h2>Banner</h2>
  <app-buscador></app-buscador>
</section>
<section class="container">
  <div class="img">
    <img src="/assets/img/1.jpg" alt="Imagen">
  </div>
  <div class="img">
    <img src="/assets/img/logo-territorial.png" alt="Logo Territorial">
  </div>
</section>
<section class="container">
  <h2>Misión / Visión</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non placeat deserunt nam adipisci minus sed velit voluptatem voluptates iusto? Porro minus quae dolores consequuntur eaque cumque ea. Aliquid, vel rerum.
  </p>
  <h2>Nuestra Historia</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eligendi, nulla similique, nobis ipsam itaque sit quia accusamus atque fugiat aspernatur consequatur beatae neque inventore officia suscipit molestiae cupiditate sunt.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, ab tenetur debitis at veniam ex distinctio deleniti esse provident deserunt doloremque omnis fuga cumque magnam inventore sunt cum aspernatur eaque.
  </p>
</section>
<section class="container">
  <h2>Escuela Taller</h2>
  <p>añadir slider</p>
</section>
<section class="container">
  <h2>Impacto proyecto</h2>
  <div class="container-flex-wrap">
    <div class="img">
      <img src="/assets/img/1.jpg" alt="Imagen">
    </div>
    <div class="img">
      <img src="/assets/img/2.jpg" alt="Imagen">
    </div>
    <div class="img">
      <img src="/assets/img/3.jpg" alt="Imagen">
    </div>
    <div class="img">
      <img src="/assets/img/4.jpg" alt="Imagen">
    </div>
  </div>
  <a href="">Descargar pdf</a>
</section>
