<section class="Banner">
	<div class="Banner-img-back-css">
		<div class="Box-banner-content">
			<h1 class="Titulo-banner">Nosotros</h1>
			<hr>
			<div class="img">
				<img src="/assets/img/territorial-footer.png" alt="Logo Territorial">
			</div>
		</div>
	</div>
	<button class="btn-pages btn-banner"
					routerLink="maestros">
		Buscar Maestros
	</button>
</section>
<section class="Historia container-max">
	<div class="Articulo">
		<strong class="Parrafo-bold">
			Creemos en el valor del aprender haciendo, la historia que cultiva el saber de las manos, y la magia creadora del diseño de autor.
		</strong>
		<strong class="Parrafo-bold">
			Buscamos rescatar, innovar y promover los tesoros del oficio en la era digital, difundir a sus protagonistas y revalorizar el encanto del saber cultural y la reinvención creativa.
		</strong>
	</div>
	<div class="img-100">
		<img src="/assets/img/equipo.jpg" alt="Equipo">
	</div>
	<div class="Articulo">
		<h4 class="Subtitulo">
			Nuestra Historia
		</h4>
		<strong class="Parrafo-bold">
			El inicio de nuestro universo
		</strong>
		<p class="Parrafo">
			Plataforma de Oficios nace como la reinvención de Escuela Taller Antofagasta, un proyecto que desde el 2015 buscó rescatar, promover y valorizar los oficios culturales y patrimoniales mediante una formación activa y lúdica. Bajo la metodología de aprender haciendo se recuperaron inmuebles icónicos, crearon intervenciones culturales y se piloteó un hito de ruta patrimonial, propiciando el desarrollo experimental y comunitario.
		</p>
		<p class="Parrafo">
			Comprendiendo el saber activo como un proceso colectivo y recíproco en el cual todos somos maestros y aprendices, el proyecto fue concebido como un espacio de colaboración e intercambio con redes nacionales e internacionales, impactando en la creación de nuevas Escuelas Taller y proyectos de vinculación, divulgación y activación de los oficios en el territorio.
		</p>
	</div>
</section>
<section class="Section-text container-full">
	<strong class="Parrafo-bold">
		Entendemos el valor de los oficios tradicionales y creativos como motor para la economía creativa, el fomento cultural y desarrollo local, resultado de la expresión humana de saberes que relevan identidad, evocan la memoria y conectan a las personas desde su sentir emocional.
	</strong>
</section>
<section class="Reinvencion container-max">
	<div class="img-100">
		<img src="/assets/img/pintura.jpg" alt="Pintura">
	</div>
	<div class="Articulo">
		<h4 class="Subtitulo">La reinvención</h4>
		<strong class="Parrafo-bold">
			Lo que nos inspira
		</strong>
		<p class="Parrafo">
			Tras años de la primera versión de La Escuela, la propuesta busca evolucionar y transformar el proceso de aprendizaje fortaleciendo el sentido de identidad, el saber local y la puesta en valor de creadores de oficios manuales. Se reconoce la necesidad de articular, formar y visibilizar los oficios tradicionales y creativos  con un enfoque digital, promoviendo el saber ancestral y contemporáneo, y red de creadore/as, cultore/as, diseñadore/as, maestro/as y artesano/as.
		</p>
		<strong class="Parrafo-bold">
			Así nace Plataforma Oficios; un espacio de innovación para el oficio y el diseño de autor que busca compartir, enseñar y difundir los oficios que nos emocionan; con cariño local, y alcance global.
		</strong>
	</div>
</section>
<section class="Escuela container-max">
	<div class="Articulo">
		<h4 class="Subtitulo">
			MIRA LO QUE HICIMOS EN TODOS ESOS AÑOS !
		</h4>
		<strong class="Parrafo-bold">
			Descubre lo que fue Escuela Taller Antofagasta
		</strong>
	</div>
	<div class="Galeria">
		<div class="Box-grid grid-2">
			<div class="img-100">
				<img src="/assets/img/bio.jpg" alt="Revoque Barro">
			</div>
			<div class="img-100">
				<img src="/assets/img/manos.jpg" alt="Adobe molde">
			</div>
			<div class="img-100">
				<img src="/assets/img/barro.jpg" alt="Adobe">
			</div>
			<div class="img-100">
				<img src="/assets/img/carpintero-2.jpg" alt="Carpintero">
			</div>
		</div>
	</div>
</section>
<section class="Impacto container-full">
	<div class="container-max">
		<div class="Articulo">
			<h4 class="Subtitulo">impacto proyecto</h4>
		</div>
		<div class="Box-grid grid-center">
			<div *ngFor="let impacto of impactos"
					 class="card">
				<div class="card-img">
					<img src="{{impacto.img}}">
				</div>
				<strong class="card-numero">{{impacto.num}}</strong>
				<h5 class="card-titulo">{{impacto.titulo}}</h5>
				<p class="card-descripcion">
					{{impacto.descripcion}}
				</p>
			</div>
		</div>
	</div>
</section>
<section class="Impacto container-full Motivacion">
	<div class="container-max">
		<div class="Articulo">
			<h4 class="Subtitulo">Lo que nos motiva</h4>
		</div>
		<div class="Box-grid grid-center">
			<div *ngFor="let motivacion of motivaciones"
					 class="card">
					 <div class="card-img">
						 <img src="{{motivacion.img}}">
					 </div>
					 <div class="card-text">
						<p>{{motivacion.text}}</p>
					 </div>
			</div>
		</div>
	</div>
</section>
<section class="Equipo container-max">
	<div class="Articulo">
		<h4 class="Subtitulo">Equipo</h4>
	</div>
	<div  class="Box-grid grid-center">
		<div *ngFor="let miembro of equipo"
				 class="card-equipo">
			<div class="card-equipo-img">
				<img src="{{miembro.img}}" alt="{{miembro.nombre}}">
				<div class="card-equipo-img-rrss card-flex flex-center">
					<a href="{{miembro.links.red1.link}}"
						 target="_blank"
						 rel="noopener noreferrer">
						<i class="{{miembro.links.red1.nombre}}"></i>
					</a>
					<a href="{{miembro.links.web?.link}}"
						 target="_blank"
						 rel="noopener noreferrer">
						<i class="{{miembro.links.web?.icono}}"></i>
					</a>
					<a href="{{miembro.links.red2?.link}}"
						 target="_blank"
						 rel="noopener noreferrer">
						<i class="{{miembro.links.red2?.nombre}}"></i>
					</a>
				</div>
			</div>
			<div class="card-equipo-text">
				<h5 class="Subtitulo">{{miembro.nombre}}</h5>
				<p class="Parrafo">{{miembro.cargo}}</p>
			</div>
		</div>
	</div>
</section>
<section class="Conoce container-full">
	<div class="container-max">
		<h4 class="Subtitulo">
			Escuela Taller un proyecto de fundación territorial
		</h4>
		<div class="Box-grid-max-2">
			<div class="Box-img-btn">
				<div class="img-100">
					<img src="/assets/img/logo-territorial.png" alt="Logo Territorial">
				</div>
				<a href="https://www.youtube.com/channel/UCDMLbhnaN0r2YvfCP-RMR5Q/featured"
					 target="_blank"
					 class="btn-pages">
					 Conócelo aquí
				</a>
			</div>
			<p class="Parrafo">
				Conectamos actores y recursos locales CODISEÑANDO EXPERIENCIAS URBANAS  para la transformación de territorios creativos, humanos y sostenibles, que mejoren la calidad de vida y reconecten al habitante con entorno.
			</p>
		</div>
	</div>
	<div class="Banner-img-back-css"
			 [ngStyle]="{'backgroundImage': 'url(/assets/img/equipo.jpg)'}">
		<a href="https://www.youtube.com/watch?v=ILqJ-2RfZjE"
				target="_blank"
				rel="noopener noreferrer">
			<div class="icon">
				<i class="icon-play"></i>
			</div>
		</a>
	</div>
</section>
