
.Titulo{
  display: inline;
  text-transform: uppercase;
  color: color(primary);
  font-weight: 400;
  position: relative;
	padding-top: .5rem;
	padding-bottom: .5rem;
  &:before{
    content: '';
    width: 50%;
    height: 1px;
    background-color: color(primary);
    position: absolute;
    bottom: 0;
  }
}

.Parrafo{
  color: color(text);
  padding: $padding-parrafo;
}
