@import "../../../scss/config/styles-root";

.Inicio{
	margin-bottom: 1rem;
	position: relative;
	& > button{
		position: absolute;
		top: 25%;
		right: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		@include mq(tablet){
			right: 2.5rem;
		}
	}
}

.Conoce{
	padding: var(--padding-sections);
	& .card-img-back-css{
		min-height: 200px;
		height: 60vw;
		background-image: img('conoce-video.jpg');
		background-position: bottom;
		position: relative;
		@include mq(tablet){
			height: 50vw;
		}
		@include mq(notebook){
			height: 40vw;
		}
		&::before{
			@include transparencia(color(negro), .5);
		}
		& > .Box-grid{
			z-index: 1;
			height: 100%;
			padding: 1rem;
			@include mq(tablet){
				padding: 2.5rem;
			}
			& > h3, h4, .icon{
				color: color(blanco);
				text-transform: uppercase;
			}
			& > h3{
				line-height: 1.3rem;
				font-weight: 400;
				@include mq(tablet){
					line-height: 1.8rem;
				}
			}
			& > a{
				text-decoration: none;
				cursor: pointer;
				&:hover{
					transition: transform .25s;
					transform: scale(1.1);
				}
				& > .icon{
					border: 1px solid color(blanco);
					padding: .7rem;
					border-radius: 50%;
					color: color(blanco);
					text-transform: uppercase;
					& > i{
						font-size: 1.3rem;
						@include mq(tablet){
							font-size: 1.8rem;
						}
					}
				}
			}
			& .logo-text{
				font-family: $fuente-logo;
				text-align: center;
				& > h4{
					line-height: 1.2rem;
					@include mq(tablet){
						line-height: 1.7rem;
					}
				}
			}
		}
	}
}

.Nosotros{
	padding: var(--padding-sections);
	& .Box-grid-max-2{
		// border: 2px solid blue;
		& .Box-img-btn{
			display: flex;
			flex-direction: column;
			width: 70vw;
			max-width: 300px;
			margin: 0 auto;
			// border: 1px solid red;
			@include mq(tablet){
				margin: 1rem auto;
			}
			@include mq(notebook){
				max-width: 350px;
			}
			& button{
				align-self: flex-end;
			}
		}
	}
}

.Maestros{
	background-color: #F4F0ED;
	margin-top: 1rem;
	padding: var(--padding-sections);
	& .Box-grid-max-2{
		& .img{
			margin-top: 1rem;
		}
		& > .Articulo{
			margin: .5rem auto;
			@include mq(tablet){
				margin: 1rem auto;
			}
			& .Box-btn{
				text-align: center;
				margin-top: 1rem;
				@include mq(notebook){
					text-align: left;
				}
			}
		}
	}
	& > .Box-slider{
		margin-top: 1rem;
		@include mq(notebook){
			margin-top: 2rem;
		}
	}
}

.Aprende{
	padding: var(--padding-sections);
	& .Box-grid-max-2{
		margin: 1rem auto;
		& .Parrafo{
			@include mq(tablet){
				margin-top: 1rem;
			}
		}
	}
	& > .Box-btn{
		& > button{
			display: block;
			width: max-content;
			margin: auto;
		}
	}
}

.Panoramas{
	margin-bottom: 1rem;
	& .max-content{
		width: 100%;
		padding: var(--padding-sections);
		margin: auto;
		max-width: $ancho-maximo;
		& > .Titulo{
			@include mq(tablet){
				margin-bottom: 0;
			}
		}
	}
	& .Banner-img-back-css{
		padding: 1rem;
		margin-top: 1rem;
		min-height: 250px;
		height: 50vw;
		background-position: center top;
		background-image: img('taller.jpg');
		@include mq(tablet){
			padding: 4rem;
			margin-top: 2rem;
		}
		@include mq(notebook){
			height: 45vw;
		}
		&::before{
			@include transparencia(color(primary), .3);
		}
		& > .Box-grid{
			position: relative;
			z-index: 1;
			max-width: $ancho-maximo;
			& h5{
				color: color(blanco);
				max-width: 55%;
			}
			& button{
				margin-top: 1rem;
			}
		}
	}
}

.Instagram{
	margin-top: 1rem;
	@include mq(tablet){
		margin-bottom: 2rem;
	}
	& > .Box-flex-wrap{
		margin-bottom: 1rem;
		@include mq(tablet){
			margin-bottom: 0;
		}
		& > h2{
			margin-bottom: 1rem;
			padding: var(--padding-sections);
		}
		& > a{
			margin-left: 1rem;
		}
	}
	& > .Box-grid{
		grid-template-columns: repeat(2, 1fr);
		@include mq(tablet){
			padding: var(--padding-sections);
		}
		@include mq(notebook){
			grid-template-columns: repeat(3, 1fr);
		}
		& > .img-100:nth-of-type(1){
			@include mq(notebook){
				order: 1;
			}
		}
		& > .img-100:nth-of-type(2){
			@include mq(notebook){
				order: 2;
			}
		}
		& > .img-100:nth-of-type(3){
			@include mq(notebook){
				order: 4;
			}
		}
		& > .img-100:nth-of-type(4){
			@include mq(notebook){
				order: 5;
			}
		}
		& > .img-100:nth-of-type(5){
			@include mq(notebook){
				order: 3;
			}
		}
		& > .img-100:nth-of-type(6){
			@include mq(notebook){
				order: 6;
			}
		}
	}
}










