<section class="Inicio container mg-bot-1r p-relative">
	<app-slider [items]="sliderData"></app-slider>
	<button class="btn-pages mg-top-1r mg-bot-1r"
					routerLink="maestros">
		Buscar Maestros
	</button>
</section>
<section class="Conoce container pad-1r">
	<div class="card-img-back-css">
		<div class="Box-grid-1-3 grid-center">
			<h3 class="selfH-inicio">Conoce<br>la plataforma</h3>
			<a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
				<div class="icon">
					<i class="fi fi-sr-play"></i>
				</div>
			</a>
			<div class="logo-text selfH-final">
				<h4>Plataforma<br>de Oficios</h4>
			</div>
		</div>
	</div>
</section>
<section class="Nosotros container pad-1r">
	<h2 class="Titulo">
		Nosotros
	</h2>
	<p class="Parrafo">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nostrum asperiores adipisci magni inventore pariatur deleniti quod. Repellendus officiis, atque deserunt quod maxime rerum aliquam sit. Dolore doloremque consectetur sit?
	</p>
	<p class="Parrafo">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Et magni iusto ipsum veritatis sunt libero, cum corporis minima dolorum, delectus fuga hic molestias temporibus in fugit porro ratione voluptatem earum?
	</p>
	<div class="Box-img-btn">
		<div class="img-100">
			<img src="/assets/img/logo-territorial.png" alt="Logo Territorial">
		</div>
		<button class="btn-pages"
						routerLink="nosotros">
						ver más
		</button>
	</div>
</section>
<section class="Maestros container mg-top-1r pad-1r">
	<div class="Box-text-form">
		<h2 class="Titulo">Maestros</h2>
		<button class="btn-pages mg-top-1r mg-bot-1r"
						routerLink="maestros">
			Buscar Maestros
		</button>
	</div>
	<div class="img">
		<img src="/assets/img/maestros.jpg" alt="Maestros">
	</div>
	<div class="card-text-btn">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nisi iusto explicabo neque omnis rem itaque alias quaerat, veniam placeat ipsum libero porro incidunt aut maxime laborum vitae quos necessitatibus!
		</p>
	</div>
	<div class="Box-slider">
		<h3 class="Subtitulo">Maestros Destacados</h3>
		<p>Slider de maestros destacados</p>
	</div>
</section>
<section class="Aprende container pad-1r">
	<h2 class="Titulo">
		Aprende
	</h2>
	<div class="img mg-top-1r">
		<img src="/assets/img/costura.jpg" alt="Costura">
	</div>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, ipsum magni aliquid rem a excepturi nam illo fugiat harum accusamus, distinctio, itaque exercitationem tempora fuga repellat similique animi autem corrupti.</p>
	<div class="Box-slider">
		<p>Slider de videos de maestros destacados</p>
	</div>
	<div class="Box-btn">
		<button class="btn-pages"
						routerLink="aprende">
			Ver todos
		</button>
	</div>
</section>
<section class="Panoramas container mg-bot-1r">
	<h2 class="Titulo pad-1r">
		Panoramas
	</h2>
	<div class="Banner-img-back-css Box-grid grid-center mg-top-1r">
		<div class="Box-grid grid-center pad-1r">
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, laudantium hic, voluptas fugiat, quas provident voluptate vero totam eos quidem dignissimos natus quaerat molestias consequuntur! Ipsum quis cum cumque dolorum.</p>
			<button class="btn-pages selfH-inicio"
							routerLink="panoramas">
				Ver todos
			</button>
		</div>
	</div>
</section>
<section class="Instagram container mg-top-1r mg-bot-1r">
	<div class="Box-flex-wrap mg-bot-1r">
		<h2 class="Titulo pad-1r">Instagram</h2>
		<a class="btn-text-icon"
			 href="https://www.instagram.com/"
			 target="_blank">
			 Síguenos
			 <i class="fi fi-brands-instagram"></i>
		</a>
	</div>
	<div class="Box-grid-2">
		<div class="img">
			<img src="/assets/img/insta-1.jpg">
		</div>
		<div class="img">
			<img src="/assets/img/insta-2.jpg">
		</div>
		<div class="img">
			<img src="/assets/img/insta-3.jpg">
		</div>
		<div class="img">
			<img src="/assets/img/insta-4.jpg">
		</div>
	</div>
</section>
