<section class="Inicio">
	<app-banner-slider [cards]="DATA"
										 [autoSlide]="true"
	></app-banner-slider>
	<button class="btn-pages"
					routerLink="maestros">
		Buscar Maestros
	</button>
</section>
<section class="Conoce container">
	<div class="card-img-back-css">
		<div class="Box-grid grid-1-3 grid-center">
			<h3 class="selfH-inicio selfV-inicio">Conoce<br>la plataforma</h3>
			<a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
				<div class="icon">
					<i class="icon-play"></i>
				</div>
			</a>
			<div class="logo-text selfH-final selfV-final">
				<h4>Plataforma<br>de Oficios</h4>
			</div>
		</div>
	</div>
</section>
<section class="Nosotros container">
	<h2 class="Titulo">
		Nosotros
	</h2>
	<div class="Box-grid-max-2">
		<div class="Articulo">
			<p class="Parrafo">
				Creemos en el valor del aprender haciendo, la historia que cultiva el saber de las manos, y la magia creadora del diseño de autor.
			</p>
			<p class="Parrafo">
				Bienvenidos a esta comunidad!
			</p>
			<p class="Parrafo">
				Plataforma de Oficios nace tras la reinvención de Escuela Taller Antofagasta, con la misión de rescatar, innovar y promover la magia del oficio en la era digital, y difundir a sus protagonistas: maestro/as, cultores, diseñadores, artesano/as y creadores.
			</p>
			<p class="Parrafo">
				En el oficio vive en el patrimonio de generaciones, el saber cultural y la reinvención creativa.
			</p>
			<p class="Parrafo">
				Conéctate con la historia y los tesoros que viven en los oficios.
			</p>
			<p class="Parrafo">
				Súmate al rescate, difusión y encanto del saber hacer.
			</p>
		</div>
		<div class="Box-img-btn">
			<div class="img-100">
				<img src="/assets/img/logo-territorial.png" alt="Logo Territorial">
			</div>
			<button class="btn-pages"
							routerLink="nosotros">
							ver más
			</button>
		</div>
	</div>
</section>
<section class="Maestros container">
	<h2 class="Titulo">Maestros</h2>
	<div class="Box-grid-max-2">
		<div class="img">
			<img src="/assets/img/maestros.jpg" alt="Maestros">
		</div>
		<div class="Articulo">
			<p class="Parrafo">
				Conoce a los protagonistas detrás de la magia del oficio.
			</p>
			<p class="Parrafo">
				Cultor tradicional o creador contemporáneo; encuéntralos a todos en un solo lugar!
			</p>
			<p class="Parrafo">
				Aprende, contacta y accede a sus obras.
			</p>
			<div class="Box-btn">
				<button class="btn-pages"
						routerLink="maestros">
						Ver todos
				</button>
			</div>
		</div>
	</div>
	<div class="Box-slider">
		<h4 class="Subtitulo">Maestros Destacados</h4>
		<!-- <app-destacados></app-destacados> -->
	</div>
</section>
<section class="Aprende container">
	<h2 class="Titulo">
		Aprende
	</h2>
	<div class="Box-grid-max-2">
		<div class="img-100">
			<img src="/assets/img/costura.jpg" alt="Costura">
		</div>
		<p class="Parrafo">
			El oficio vive en la magia del aprender haciendo. Disfruta del conocimiento ancestral e innovador de la mano de sus creadores. Inspírate, crea y aprende sus técnicas y secretos.
		</p>
	</div>
	<div class="Box-slider">
		<p>Slider de videos de maestros destacados</p>
	</div>
	<div class="Box-btn">
		<button class="btn-pages"
						routerLink="aprende">
			Ver todos
		</button>
	</div>
</section>
<section class="Panoramas">
	<div class="max-content">
		<h2 class="Titulo">
			Panoramas
		</h2>
	</div>
	<div class="Banner-img-back-css Box-grid grid-center">
		<div class="Box-grid grid-center">
			<h5 class="selfH-inicio">Entérate de todo, inspírate, comparte y descubre un mundo de oficios y creatividad. </h5>
			<button class="btn-pages selfH-inicio"
							routerLink="panoramas">
				Ver todos
			</button>
		</div>
	</div>
</section>
<section class="Instagram container">
	<div class="Box-flex-wrap">
		<h2 class="Titulo">Instagram</h2>
		<a class="btn-text-icon"
			 href="https://www.instagram.com/"
			 target="_blank">
			 Síguenos
			 <i class="icon-instagram"></i>
		</a>
	</div>
	<div class="Box-grid">
		<div class="img-100">
			<img src="/assets/img/insta-1.jpg">
		</div>
		<div class="img-100">
			<img src="/assets/img/insta-2.jpg">
		</div>
		<div class="img-100">
			<img src="/assets/img/insta-3.jpg">
		</div>
		<div class="img-100">
			<img src="/assets/img/insta-4.jpg">
		</div>
		<div class="img-100">
			<img src="/assets/img/insta-5.jpg">
		</div>
		<div class="img-100">
			<img src="/assets/img/insta-6.jpg">
		</div>
	</div>
</section>
