@import "../../../scss/config/styles-root";

.Buscador{
  position: absolute;
  top: 18%;
  right: 5%;
  min-width: 200px;
  max-width: 350px;
}

.Maestros{
  background-color: #F4F0ED;
}

.card-img-back-css{
	background-image: img('conoce-video.jpg');
}

.Banner-img-back-css{
	background-image: img('taller.jpg');
}
