@import "../../scss/config/styles-root";

.Banner{
	position: relative;
	& .Banner-img-back-css{
		position: relative;
		background-image: img('maestros-banner.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		max-width: $ancho-total;
		height: 100vh;
		&::before{
			@include transparencia(color(negro), .3);
		}
		& .Box-banner-content{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 90%;
			max-width: $ancho-maximo;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: var(--padding-banner-inicio);
			& .Titulo-banner{
				text-transform: uppercase;
				font-weight: 400;
				color: color(blanco);
				font-size: var(--size-titulo-banner);
				width: max-content;
				padding: var(--padding-titulo-banner);
			}
			& hr{
				height: 2px;
				width: 100%;
				max-width: 600px;
				margin-left: 0;
				border: none;
				background-color: color(blanco);
			}
		}
	}
}

.Buscador{
	text-align: center;
	padding: 3rem 0;
}

.sugerencias{
	list-style: none;
	// border: 1px solid green;
	width: 90%;
	max-width: 350px;
	margin: auto;
	padding: 0;
	padding-left: 1rem;
	&-item{
		width: 80%;
		text-align: left;
		cursor: pointer;
		padding: .5rem;
		border: 1px solid color(secondary);
		transition: background-color .25s;
		color: color(text);
		--color-a: color(text);
		&:hover{
			background-color: color(impacto);
			color: color(blanco);
			--color-a: color(blanco);
		}
		& > a{
			cursor: pointer;
			text-decoration: none;
			font-weight: 600;
			color: inherit;
		}
	}
	& > li:last-of-type{
		width: 80%;
		cursor: pointer;
		text-align: left;
		padding: .5rem;
		border: 1px solid color(secondary);
		transition: background-color .25s;
		color: var(--color-a);
		&:hover{
			background-color: color(impacto);
			color: color(blanco);
		}
		& > a{
			cursor: pointer;
			text-decoration: none;
			font-weight: 600;
			color: inherit;
		}
	}
}

.Maestros{
	&-img{
		width: 100%;
		height: auto;
		& > img{
			aspect-ratio: 16 / 9;
		}
	}
	& .Articulo{
		margin: 2rem auto;
	}
}

.Paginacion{
	margin: 3rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	& .numero-pagina{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 2rem;
		& p{
			padding: .5rem;
			margin: 0;
			font-weight: 600;
		}
	}
	&-btn{
		border: none;
		background-color: transparent;
		font-size: 3rem;
		color: color(primary);
		transition: color .25s;
		cursor: pointer;
		&:hover{
			color: color(impacto);
		}
		&:active{
			transform: scale(.98);
		}
	}
}

.Destacados{
	margin-top: 1rem;
	padding: var(--padding-sections);
	margin-bottom: 3rem;
	& > .Box-slider{
		margin-top: 1rem;
		@include mq(notebook){
			margin-top: 2rem;
		}
	}
}
