
<section class="Banner">
	<div class="Banner-img-back-css">
		<div class="Box-banner-content">
			<h1 class="Titulo-banner">Maestros</h1>
			<hr>
		</div>
	</div>
</section>
<section class="Buscador container-max">
	<app-maestros-buscador (onEnter)="buscar($event)"
												 (onDebounce)="sugerencias($event)">
	</app-maestros-buscador>
	<ul *ngIf="mostrarSugerencias"
			class="sugerencias">
		<li *ngFor="let sugerido of usuariosSugeridos"
				class="sugerencias-item">
				<a [routerLink]="['/maestros', sugerido.uid]">
					{{sugerido.nombre}}
				</a>
		</li>
		<li *ngIf="usuariosSugeridos.length > 0"
				(click)="buscarSugerido(termino)">
			<a>
				Buscar: "{{termino}}"
			</a>
		</li>
	</ul>
</section>
<section *ngIf="mostrarSeccionMaestros"
				 class="Maestros container-max">
	<div class="Maestros-img">
		<img src="/assets/img/maestros.jpg" alt="Cortando madera">
	</div>
	<div class="Articulo">
		<p class="Parrafo">
			Conoce a los protagonistas detrás de la magia del oficio.
		</p>
		<p class="Parrafo">
			Maestro/a o Creador/a; encuéntralos a todo/as en un solo lugar!
		</p>
		<p class="Parrafo">
			Aprende, contacta y accede a sus obras.
		</p>
	</div>
</section>
<section *ngIf="usuarios.length > 0"
				 class="Paginados container-max">
	<app-paginados [usuarios]="usuarios"
								 [total]="total">
	</app-paginados>
	<div class="Paginacion">
		<button *ngIf="btnNextActivo" (click)="next(termino, 6)">
			Siguientes
		</button>
	</div>
</section>
<section class="Destacados container-max">
	<div class="Box-slider">
		<h4 class="Subtitulo">Maestros Destacados</h4>
		<app-card-slider
			[DESTACADOS]="DESTACADOS"
			*ngIf="DESTACADOS.length > 0"
		></app-card-slider>
	</div>
</section>



<!-- <section class="Banner container mg-bot-1r">
	<div class="Banner-img-back-css p-relative">
		<h1>Maestros</h1>
	</div>
</section>
<section class="container buscador">
	<app-maestros-buscador (onEnter)="buscar($event)"
												 (onDebounce)="sugerencias($event)">
	</app-maestros-buscador>
</section>

<section class="container">

</section>
<section class="container">
	slider de maestros destacados
</section> -->


