<section class="Banner container mg-bot-1r">
	<div class="Banner-img-back-css p-relative">
		<button class="btn-pages mg-top-1r mg-bot-1r"
						routerLink="maestros">
			Buscar Maestros
		</button>
	</div>
</section>
<section class="container pad-1r">
	<div class="img">
		<img src="/assets/img/maestros-madera.jpg" alt="Cortando madera">
	</div>
</section>
<section class="container">
	<div class="Articulo">
		<p class="Parrafo">
			Conoce a los protagonistas detrás de la magia del oficio.
		</p>
		<p class="Parrafo">
			Maestro/a o Creador/a; encuéntralos a todo/as en un solo lugar!
		</p>
		<p class="Parrafo">
			Aprende, contacta y accede a sus obras.
		</p>
	</div>
</section>
<section class="container">
	Maestros páginados
</section>
<section class="container">
	slider de maestros destacados
</section>
