
@mixin container($display){
  display: $display;
  margin: 0 auto;
  width: 100%;
  max-width: $ancho-maximo;
}

.container{
  @include container(block);
  border: 1px solid red
}

.container-global{
  @include container(block);
  max-width: $ancho-total;
  border: 1px solid blue;
}
