
@mixin container($display, $ancho){
  display: $display;
  margin: 0 auto;
  width: 100%;
  max-width: $ancho;
}

.container-global{
  @include container(block, $ancho-total);
  max-width: $ancho-total;
  position: relative;
}

.container{
  @include container(block, $ancho-maximo);
}

.container-flex{
  @include container(flex, 100%);
  &-wrap{
    flex-wrap: wrap;
  }
}

.container-grid{
  @include container(grid, 100%);
}

 // Box

 .Box-slider{
	display: block;
	width: 100%;
	overflow: hidden;
 }

 .Box-btn{
	display: block;
	width: 100%;
 }

