
@mixin container($display, $ancho){
  display: $display;
  margin: 0 auto;
  width: 100%;
  max-width: $ancho;
}

.container-global{
  @include container(block, $ancho-total);
  max-width: $ancho-total;
  border: 1px solid blue;
  position: relative;
}

.container{
  @include container(block, $ancho-maximo);
  border: 1px solid red;
}

.container-flex{
  @include container(flex, 100%);
  &-wrap{
    flex-wrap: wrap;
  }
}

.container-grid{
  @include container(grid, 100%);
}

