@mixin box-flex(){
  display: flex;
  margin: 0 auto;
  width: 100%;
	align-items: center;
}

.Box-flex-wrap{
	@include box-flex();
	flex-wrap: wrap;
}

.flex-separados{
  justify-content: space-between;
}
