@mixin box-grid($cols, $rows: 1){
  display: grid;
  margin: 0 auto;
  width: 100%;
	grid-template-columns: repeat($cols, 1fr);
	grid-template-rows: repeat($rows, 1fr);
}


@mixin grid-alineacion($a-vertical, $a-horizontal: center){
  display: grid;
  align-items: $a-vertical; // alineación en eje vertical de los grid items
  justify-items: $a-horizontal; // alineación en eje horizontal de los grid items
}

// Clases

// Box

.Box-grid{
	@include box-grid(1);
}

.Box-grid-2{
	@include box-grid(2);
}

.Box-grid-1-3{
	@include box-grid(1,3);
}



// Grid alineacion

.grid-center{
  @include grid-alineacion(center, center);
}

.selfH-inicio{
	justify-self: start;
}

.selfH-final{
	justify-self: end;
}


