//Position

.p-relative{
	position: relative;
}

.mg-top-1r{
	margin-top: 1rem;
}

.mg-bot-1r{
	margin-bottom: 1rem;
}

// Padding

.pad-1r{
	padding: 1rem;
}

.pad-2r{
	padding: 2rem;
}

// Gap

.gap-card{
  gap: $gap-card;
}

.gap-col{
  gap: $gap-col;
}
