<div class="Panel">
	<div
		[class]="mostrarMenu ? 'Panel-btn-activo' : 'Panel-btn'">
		<button
			#btnMenu
			(click)="showHidePanelMenu()"
			[class]="btnMenuColor">
			<i class="icon-menu"></i>
			<span>Menu</span>
		</button>
	</div>
	<nav
		#menu
		class="Panel-menu"
		[ngClass]="{ 'slide-down': mostrarMenu, 'slide-up': !mostrarMenu }">
		<ul>
			<li>
				<a routerLink="/"
					routerLinkActive="link-activo"
					[routerLinkActiveOptions]="{exact:
						true}"
					(click)="showHidePanelMenu()"
					[class]="linkMenuNotebook">Inicio</a>
			</li>
			<li>
				<a routerLink="nosotros"
					routerLinkActive="link-activo"
					(click)="showHidePanelMenu()"
					[class]="linkMenuNotebook">Nosotros</a>
			</li>
			<li>
				<a routerLink="maestros"
					routerLinkActive="link-activo"
					(click)="showHidePanelMenu()"
					[class]="linkMenuNotebook">Maestros</a>
			</li>
			<li>
				<a routerLink="aprende"
					routerLinkActive="link-activo"
					(click)="showHidePanelMenu()"
					[class]="linkMenuNotebook">Aprende</a>
			</li>
			<!-- <li>
				<a routerLink="panoramas"
					routerLinkActive="link-activo"
					[class]="menuNotebook"
					(click)="showHidePanelMenu()">Panoramas</a>
			</li> -->
		</ul>
	</nav>
</div>
