@import "../../../scss/config/styles-root";

.Banner{
	position: relative;
	padding-top: 12rem;
	&-content{
		width: 90%;
		max-width: $ancho-maximo;
		margin: auto;
		& .Titulo-banner{
			text-transform: uppercase;
			font-weight: 400;
			color: color(primary);
			font-size: var(--size-titulo-banner);
			width: max-content;
			margin: 1rem 0;
		}
		& hr{
			height: 1px;
			width: 70%;
			max-width: 600px;
			margin-left: 0;
			margin-bottom: 1rem;
			border: none;
			background-color: color(primary);
			@include mq(tablet){
				max-width: 150px;
			}
		}
	}
	& .btn-banner{
		top: 40%;
		@include mq(tablet){
			top: 55%;
		}
		@include mq(notebook){
			top: 60%;
		}
	}
}

.card{
	// border: 2px solid red;
	@include mq(notebook){
		// border: 2px solid green;
		display: flex;
		flex-wrap: wrap;
	}
	&-banner{
		@include mq(notebook){
			width: 50%;
		}
	}
	&-body{
		// border: 2px solid blue;
		@include mq(notebook){
			width: 50%;
			padding-left: 2rem;
		}
		& hr{
			width: 40%;
			max-width: 300px;
			margin-left: 0;
			height: 1px;
			border: none;
			background-color: color(primary);
		}
		&-nombre{
			& h2{
				margin: 2rem 0;
			}
		}
		&-logo{
			width: 40%;
			max-width: 200px;
		}
		&-emprendimiento{
			margin: 2rem 0;
		}
		&-contacto{
			margin: 2rem 0;
		}
		&-contacto div[class*="card-body-contacto-"]{
			display: flex;
			align-items: center;
			// border: 1px solid green;
			margin-bottom: .5rem;
			& > i{
				font-size: 2rem;
				color: color(primary);
				width: max-content;
				margin-right: .5rem;
			}
			& > a{
				text-decoration: none;
				font-size: 2rem;
				color: color(primary);
				width: max-content;
				margin-right: .5rem;
			}
			& > p{
				margin: 0;
			}
		}
	}
	&-footer{
		display: flex;
		margin: 2rem 0;
		& > i{
			font-size: 2rem;
			color: color(primary);
			margin-right: .5rem;
		}
		& > h5{
			font-size: 1.5rem;
			margin-right: .5rem;
		}
		&-rrss{
			display: flex;
			align-items: center;
			& a{
				text-decoration: none;
				color: color(primary);
				cursor: pointer;
				font-size: 2rem;
				margin-right: .5rem;
			}
		}
	}
}

.Box-galeria{
	// border: 2px solid green;
	& .Subtitulo{
		margin: 2rem 0;
	}
}

.Box-comparte{
	margin: 2rem 0;
}

.Comparte-rrss{
	display: flex;
	padding: .5rem 0;
	& a{
		text-decoration: none;
		color: color(primary);
		font-size: 2rem;
		margin-right: .5rem;
		cursor: pointer;
		transition: color .25s ease;
		&:hover{
			color: color(secondary);
		}
	}
}

.Mapa{
	margin-bottom: 2rem;
}
