<section class="Banner">
	<div class="Banner-content">
		<h1 class="Titulo-banner">Maestro</h1>
		<hr>
	</div>
	<button class="btn-pages btn-banner"
					routerLink="maestros">
		Buscar Maestros
	</button>
</section>

<div *ngIf="!usuario; else cardUsuario">
	<p>Loader</p>
</div>

<ng-template #cardUsuario>
	<div class="card-usuario-full container-max">
		<div class="card">
			<div class="card-banner">
				<img [src]="usuario.banner"
						 [alt]="usuario.emprendimiento">
			</div>
			<div class="card-body">
				<div class="card-body-nombre">
					<h2>{{usuario.nombre}}</h2>
				</div>
				<div class="card-body-logo">
					<img [src]="usuario.logo">
				</div>
				<div class="card-body-emprendimiento">
					<h3>
						<i>{{usuario.emprendimiento}}</i>
					</h3>
				</div>
				<hr>
				<div class="card-body-categoria">
					<i>{{usuario.categoria}}</i>
				</div>
				<div class="card-body-descripcion">
					<p class="Parrafo">{{usuario.descripcion}}</p>
				</div>
				<hr>
				<div class="card-body-contacto">
					<div class="card-body-contacto-titulo">
						<i class="icon-usuario"></i>
						<h4>Contacto</h4>
					</div>
					<div class="card-body-contacto-correo">
						<i class="icon-correo"></i>
						<p>{{usuario.correo}}</p>
					</div>
					<div class="card-body-contacto-whatsapp">
						<a href="{{linkWhatsapp}}"
							 target="_blank"
							 rel="noopener noreferrer">
							 <i class="icon-whatsapp"></i>
						</a>
						<p>{{usuario.whatsapp}}</p>
					</div>
					<div class="card-body-contacto-direccion">
						<i class="icon-pin"></i>
						<p>{{usuario.direccion}}</p>
					</div>
					<div class="card-body-contacto-web">
						<a href="{{usuario.web}}"
							 target="_blank"
							 rel="noopener noreferrer">
							 <i class="icon-web"></i>
						</a>
						<p>{{usuario.web}}</p>
					</div>
				</div>
				<hr>
			</div>
			<div class="card-footer">
				<i class="icon-like"></i>
				<h5>Siguenos:</h5>
				<div class="card-footer-rrss">
					<a href="https://www.instagram.com/"
						 target="_blank"
						 rel="noopener noreferrer">
						 <i class="icon-instagram"></i>
					</a>
					<a href="https://www.facebook.com/"
						 target="_blank"
						 rel="noopener noreferrer">
						 <i class="icon-facebook"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</ng-template>
