<section class="Banner container mg-bot-1r">
	<div class="Banner-img-back-css p-relative">
		<button class="btn-pages mg-top-1r mg-bot-1r"
						routerLink="maestros">
			Buscar Maestros
		</button>
	</div>
</section>
<section class="container pad-1r">
	<div class="img">
		<img src="/assets/img/modista.jpg" alt="Cortando madera">
	</div>
</section>
<section class="container">
	<div class="Articulo">
		<p class="Parrafo">
			El oficio vive en la magia del aprender haciendo. Disfruta del conocimiento ancestral e innovador de la mano de sus creadores. Inspírate, crea y aprende sus técnicas y secretos.
		</p>
	</div>
</section>
<section class="container">
	Maestros páginados
</section>
<section class="container">
	slider de maestros destacados
</section>
