
<div *ngIf="cards && cards.length > 0"
		 class="carousel-container">
	<div *ngFor="let card of cards; let i = index"
			 [ngStyle]="{'backgroundImage': 'url('+ card.imagen +')'}"
			 [ngClass]="{'card-active': selectedIndex === i}"
			 class="card fade">
		<div class="card-content">
			<h1 class="card-titulo">
				{{card.titulo}}
			</h1>
			<hr>
			<h5 class="card-subtitulo">
				{{card.subtitulo}}
			</h5>
			<a [href]="card.boton?.link"
				 target="_blank"
				 class="btn-pages card-btn">
					{{card.boton?.texto}}
				</a>
		</div>
	</div>

	<div *ngIf="dots"
			 class="carousel-dot-container">
		<span *ngFor="let dot of cards; let i = index"
					class="dot"
					[ngClass]="{'active': selectedIndex === i}"
					(click)="selectCard(i)">
		</span>
	</div>

	<button *ngIf="flechas"
					class="btn-carousel btn-prev"
					(click)="onPrevClick()">
		<i class="icon-arrow-left icon-carousel icon-prev"></i>
	</button>
	<button *ngIf="flechas"
					class="btn-carousel btn-next"
					(click)="onNextClick()">
		<i class="icon-arrow-right icon-carousel icon-next"></i>
	</button>

</div>
