
// Variables globales

// Variables para maquetación

$ancho-maximo: 1600px;
$ancho-total: 1920px;
$altura-linea: 1.5;

// fuentes

$global-font-size: 16px;
// Para establecer los tipos de fuente (principal, secundaria, auxiliar), los tamaños de los textos por defecto según su etiqueta

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap');

$fuente-parrafos: 'Montserrat', sans-serif;
$fuente-titulos: 'Montserrat', sans-serif;

// Colores

@function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores

$colors:(
  primary: #b9a391,
  secondary: #d5b18a,
  tertiary: #b76f33,
  hover: #e4ddc7,
  success: green,
  alert: red,
  text: #21211F,
  bg-body: #f8f8f8,
);

$fondo-transparente: rgba(9, 10, 7, 0.8);

// Imagenes

// Funcion para obtener imagenes

@function img($img) {
  @return url('../../assets/img/' + $img);
}

//Ejemplo

// img{
//   background-image: img('ejemplo.jpg');
// }

// Bordes

$borde-col: 1px solid rgb(255, 255, 255);

// Margenes

$margen-section-top: 1rem;
$margen-section-bottom: 1rem;

// Gap

$gap-card: 1rem;
$gap-col: .5rem;



// Estilos globales

body{
  background-color: color(bg-body);
  font-family: $fuente-parrafos;
  font-size: $global-font-size;
  color: color(text);
  background-image: img('fondoweb.jpg');
  line-height: 27px;
}

// Fuente para los formularios
form *{
  font-family: $fuente-parrafos;
}
