<div class="Panel">
  <div class="Panel-item">
    <button #btnMenu
            class="btn-menu"
            [class]="colorMenu">
      <i class="fi fi-br-menu-burger"></i>
      <span>Menu</span>
    </button>
  </div>
  <nav #menu class="Panel-item">
    <ul>
      <li>
        <a href="">Inicio</a>
      </li>
      <li>
        <a (click)="goToSection('nosotros', btnMenu, menu)">Nosotros</a>
      </li>
      <li>
        <a (click)="goToSection('maestros', btnMenu, menu)">Maestros</a>
      </li>
      <li>
        <a (click)="goToSection('aprende', btnMenu, menu)">Aprende</a>
      </li>
      <li>
        <a (click)="goToSection('panoramas', btnMenu, menu)">Panoramas</a>
      </li>
    </ul>
  </nav>
</div>

