

.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color .25s;
  &-activo{
    background-color: color(blanco);
    transition: background-color .25s;
  }
}

.Logo{
  text-align: center;
  & a{
    text-decoration: none;
    cursor: pointer;
    & h1{
      color: color(blanco);
      font-family: $fuente-logo;
    }
  }
}
