<footer class="Footer">
	<div class="Banner-img-back-css">
		<div class="Box-grid grid-center">
			<div class="Box-grid-item msg">
				<div class="Box-flex">
					<h2>Únete</h2>
					<i class="icon-correo"></i>
				</div>
				<p class="Parrafo">Sé parte de nuestro correo mensual, para recibir las últimas actualizaciones de creadores, panoramas y nuevas convocatorias.</p>
			</div>
			<div class="Box-grid-item form">
				<div class="Box-form">
					<form [formGroup]="form"
							(ngSubmit)="suscribir()"
							class="Form-round">
					<input type="text"
									formControlName="nombre"
									placeholder="Nombre"
									class="Form-round-input">
					<input type="text"
									formControlName="correo"
									placeholder="Correo"
									class="Form-round-input">
					<button type="submit"
									class="Form-round-btn">
						Enviar
					</button>
				</form>
				</div>
			</div>
			<div class="Box-grid-item siguenos">
				<div class="Box-flex">
					<h3>Síguenos</h3>
					<div class="card-links-rrss">
						<a href="https://www.instagram.com/">
							<i class="icon-instagram"></i>
						</a>
						<a href="https://www.facebook.com/">
							<i class="icon-facebook"></i>
						</a>
						<a href="https://www.youtube.com/">
							<i class="icon-youtube"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="Footer-auspicio">
		<div class="Box-flex-wrap">
			<div class="img">
				<img src="/assets/img/territorial-footer.png" alt="Logo Territorial">
			</div>
			<div class="img">
				<img src="/assets/img/logo-ministerio-footer.png" alt="Logo Ministerio de las culturas">
			</div>
		</div>
	</div>
</footer>
