<footer class="Footer container">
	<div class="Box-flex-wrap Banner-img-back-css pad-1r">
		<div class="Box">
			<div class="Box-flex">
				<h2>Únete</h2>
				<i class="fi fi-br-envelope"></i>
			</div>
			<p>Sé parte de nuestro correo mensual, para recibir las últimas actualizaciones de creadores, panoramas y nuevas convocatorias.</p>
			<div class="Box-form">
				<form [formGroup]="form"
							(ngSubmit)="suscribir()"
							class="Form-round">
					<input type="text"
									formControlName="nombre"
									placeholder="Nombre"
									class="Form-round-input">
					<input type="text"
									formControlName="correo"
									placeholder="Correo"
									class="Form-round-input">
					<button type="submit"
									class="Form-round-btn">
						Suscribir
					</button>
				</form>
			</div>
			<div class="container">
				<div class="Box-flex">
					<h4>Síguenos</h4>
					<div class="card-links-rrss">
						<a href="https://www.instagram.com/">
							<i class="fi fi-brands-instagram"></i>
						</a>
						<a href="https://www.facebook.com/">
							<i class="fi fi-brands-facebook"></i>
						</a>
						<a href="https://www.youtube.com/">
							<i class="fi fi-brands-youtube"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Box-flex-wrap pad-1r">
		<div class="img">
			<img src="/assets/img/territorial-footer.png" alt="Logo Territorial">
		</div>
		<div class="img">
			<img src="/assets/img/logo-ministerio-footer.png" alt="Logo Ministerio de las culturas">
		</div>
	</div>
</footer>
