@import "../../../scss/config/styles-root";

.Footer{
	& .Banner-img-back-css{
		background-image: img('banner-2.jpg');
		background-position: center center;
		padding: var(--padding-banner-inicio);
		&::before{
			@include transparencia(color(primary), .5);
		}
		& .Box-grid{
			margin: auto;
			max-width: $ancho-maximo;
			position: relative;
			z-index: 1;
			gap: .5rem;
			// border: 1px solid red;
			@include mq(tablet){
				gap: 2rem;
				grid-template-columns: 50% 1fr;
				grid-template-rows: auto auto;
				grid-template-areas: "msg form"
														 "msg siguenos";
			}
			@include mq(notebook){
				grid-template-columns: repeat(3, 1fr);
				grid-template-areas: "msg form siguenos";
				grid-template-rows: none;
				gap: 1.5rem;
			}
			&-item{
				// border: 2px solid blue;
				color: color(blanco);
				width: 100%;
				& .Box-flex{
					& > h2{
						text-transform: uppercase;
						font-weight: 400;
					}
					& > h3{
						font-weight: 400;
					}
					& > i{
						font-size: var(--size-h2);
						margin-left: 1rem;
					}
					& > .card-links-rrss{
						& a{
							color: color(blanco);
							transition: color .5s;
							& > i{
								margin-left: .5rem;
								font-size: 2rem;
							}
							&:hover{
								color: color(negro);
							}
						}
					}
				}
				& p{
					color: inherit;
					font-weight: 600;
					@include mq(tablet){
						margin-top: 1.5rem;
					}
				}
			}
			& .msg{
				@include mq(tablet){
					grid-area: msg;
					align-self: stretch;
				}
			}
			& .form{
				@include mq(tablet){
					grid-area: form;
				}
			}
			& .siguenos{
				margin-top: 1rem;
				@include mq(tablet){
					margin-top: 0;
					grid-area: siguenos;
				}
			}
		}
	}
	&-auspicio{
		padding: var(--padding-banner-inicio);
		background-color: color(primary);
		& .Box-flex-wrap{
			width: 100%;
			margin: auto;
			max-width: $ancho-maximo;
			justify-content: space-around;
			@include mq(notebook){
				justify-content: space-between;
			}
			@include mq(notebookM){
				justify-content: space-around;
			}
			& .img{
				width: 80%;
				max-width: 300px;
				@include mq(notebook){
					max-width: 440px;
				}
				@include mq(notebookM){
					max-width: 550px;
				}
			}
			& .card-text{
				// border: 2px solid green;
				display: flex;
				align-items: center;
				max-width: 350px;
				@include mq(notebook){
					max-width: 450px;
				}
				@include mq(notebookM){
					max-width: 600px;
				}
				& .img{
					width: 50%;
					max-width: 150px;
					@include mq(notebook){
						max-width: 200px;
					}
				}
				& .Parrafo{
					width: 50%;
					font-size: 12px;
					line-height: 14px;
					color: color(blanco);
					padding: .5rem;
					font-weight: 600;
					@include mq(movilM){
						font-size: 13px;
						line-height: 18px;
					}
					@include mq(notebook){
						font-size: 18px;
						line-height: 20px;
						width: 70%;
					}
					@include mq(notebookM){
						font-size: 22px;
						line-height: 26px;
						padding: 1rem;
					}
				}
			}
		}
	}
}
