
.card-img-back-css{
	display: grid;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	position: relative;
}

.card-links-rrss{
	display: flex;
	& a{
		text-decoration: none;
		cursor: pointer;
	}
}
