
.Form-round{
  display: flex;
	flex-direction: column;
  width: 100%;
  &-input{
		display: block;
		width: 100%;
    outline: none;
    border: transparent;
    padding: .5rem 1rem;
		margin: .5rem auto;
		border-radius: 1rem;
  }
  &-btn{
    border: none;
		max-width: max-content;
		text-transform: uppercase;
		padding: .5rem 1.5rem;
		border-radius: 1rem;
		cursor: pointer;
		transition: all .25s ease;
		&:active{
			transform: scale(0.98);
		}
  }
}
